.product-img {
  width: 20px;
  height: 20px;
}
.product-img:hover {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.order-bgr-color {
  background-color: #eaeaea;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

table,
thead,
tbody,
tr {
  border: 3px solid #c8c1c1;
  background-color: #f7f7f7;
}

td,
th {
  border: 2px solid #c8c1c1 !important;
  text-align: center !important;
  align-items: center !important;
}

.form-control {
  background-color: #f7f7f7;
}

.margin-0 {
  margin: 0;
}
.text-align {
  text-align: center;
}

.thumbnail-width {
  width: 50px !important;
  margin-bottom: 0px !important;
}

@media (min-width: 480px) {
  .container-xs {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

/* @media (min-width: 200px) and (max-width: 480px) */
@media (min-width: 480px) and (max-width: 771px) {
  .container-xs {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .clear-both {
    clear: both !important;
  }
}


.cellContainer {
  width: 100% !important;
  float: right !important;
  font-size: 12px !important;
}

.close {
  font-size: 22px !important;
}

.cell-control {
  display: block;
  width: 100%;
  height: 25px;
  padding: 6px 6px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
} */

