<div class="container container-xs">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 0px;">
      <h1 style="margin-bottom: 60px; font-size: 35px; font-weight: bold;">New Order</h1>
    </div>
  </div>

  <!-- Top buttons -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

      <div class="row">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-xs-4 col-sm-4 col-md-4 control-label required-label" style="text-align: left;">Customer</label>
            <div class="col-xs-4 col-sm-4 col-md-4 btn-padding-left">
              <app-customer-select class="pull-left" (selectedCustomer)="onSelectedCustomer($event)">
              </app-customer-select>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
              <app-customer-create class="pull-right"></app-customer-create>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <form [formGroup]="orderForm">

    <div class="row">

      <!-- left -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="row">
          <div class="form-horizontal">

            <div class="form-group">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <h4 style="font-size: 25px; font-weight: bold; margin-bottom: 7px;">Bill To</h4>
                <input type="checkbox" hidden required formControlName="isCustomer">
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-5 col-md-4 control-label" style="text-align: left;" for="billingCompany">Company</label>
              <div class="col-xs-8 col-sm-7 col-md-8">
                <span class="form-control label-background">{{order.companyName}}</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-5 col-md-4 control-label" style="text-align: left;" for="billingDba">DBA</label>
              <div class="col-xs-8 col-sm-7 col-md-8">
                <span class="form-control label-background">{{order.dba}}</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-5 col-md-4 control-label" style="text-align: left;" for="billingStreet1">Address 1</label>
              <div class="col-xs-8 col-sm-7 col-md-8">
                <span class="form-control label-background">{{order.billingAddress.street1}}</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-5 col-md-4 control-label" style="text-align: left;" for="address2">Address 2</label>
              <div class="col-xs-8 col-sm-7 col-md-8">
                <span class="form-control label-background">{{order.billingAddress.street2}}</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-5 col-md-4 control-label" style="text-align: left;" for="billingCity">City</label>
              <div class="col-xs-8 col-sm-7 col-md-8">
                <span class="form-control label-background">{{order.billingAddress.city}}</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-5 col-md-4 control-label" style="text-align: left;" for="billingState">State</label>
              <div class="col-xs-8 col-sm-7 col-md-8">
                <span class="form-control label-background">{{order.billingAddress.country}}</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-5 col-md-4 control-label" style="text-align: left;" for="billingPostcode">ZIP</label>
              <div class="col-xs-8 col-sm-7 col-md-8">
                <span class="form-control label-background">{{order.billingAddress.postcode}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- centre -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="row">
          <div class="form-horizontal centre-container-padding-left">

            <div class="form-group">
              <label class="col-xs-4 col-sm-5 col-md-4 control-label required-label" style="text-align: left;" for="shipVia">Ship Via</label>
              <div class="col-xs-8 col-sm-7 col-md-8">
                <input type="text" class="form-control" id="shipVia" placeholder="e.g container" formControlName="shipVia">
                <span *ngIf="!orderForm.get('shipVia').valid && orderForm.get('shipVia').touched"
                  class="help-block">This field is required!
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-5 col-md-4 control-label" style="text-align: left;">Ship To</label>
              <div class="col-xs-8 col-sm-7 col-md-8">
                <select class="form-control" (change)="onChangeSippingAddress($event.target.value)">
                  <option [value]="i" *ngFor="let address of curCustomer.addresses; let i = index">
                    {{address.street1 +', '+ address.city +', '+ address.country +', '+ address.postcode}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-5 col-md-4 control-label" style="text-align: left;" for="sippingCompany">Company</label>
              <div class="col-xs-8 col-sm-7 col-md-8">
                <span class="form-control label-background">{{order.companyName}}</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-5 col-md-4 control-label" style="text-align: left;" for="sippingStreet1">Address 1</label>
              <div class="col-xs-8 col-sm-7 col-md-8">
                <span class="form-control label-background">{{order.sippingAddress.street1}}</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-5 col-md-4 control-label" style="text-align: left;" for="sippingStreet2">Address 2</label>
              <div class="col-xs-8 col-sm-7 col-md-8">
                <span class="form-control label-background">{{order.sippingAddress.street2}}</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-5 col-md-4 control-label" style="text-align: left;" for="sippingCity">City</label>
              <div class="col-xs-8 col-sm-7 col-md-8">
                <span class="form-control label-background">{{order.sippingAddress.city}}</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-5 col-md-4 control-label" style="text-align: left;" for="sippingState">State</label>
              <div class="col-xs-8 col-sm-7 col-md-8">
                <span class="form-control label-background">{{order.sippingAddress.country}}</span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-5 col-md-4 control-label" style="text-align: left;" for="sippingPostcode">ZIP</label>
              <div class="col-xs-8 col-sm-7 col-md-8">
                <span class="form-control label-background">{{order.sippingAddress.postcode}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- right -->
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="row">
          <div class="form-horizontal right-container-padding-left">

            <div class="form-group">
              <label class="col-xs-4 col-sm-4 col-md-4 control-label required-label" for="salesPerson" style="text-align: left;">Sales Rep.</label>
              <div class="col-xs-8 col-sm-8 col-md-8">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary" #sales *ngFor="let person of salesPersons;" (click)="onSalesPersonChanged(person.code)">
                    <input type="radio" name="salesPerson" [value]="person" formControlName="salesPerson" >
                    {{ person.firstName }}
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-4 col-md-4 control-label required-label" for="orderTaken" style="text-align: left;">Taken by</label>
              <div class="col-xs-8 col-sm-8 col-md-8">
                <select id="orderTaken" class="form-control" required formControlName="orderTaken">
                  <option [value]="option" *ngFor="let option of orderOption; let i = index">{{option}}</option>
                </select>
                <span *ngIf="!orderForm.get('orderTaken').valid && orderForm.get('orderTaken').touched"
                    class="help-block">This field is required!
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-4 col-sm-4 col-md-4 control-label required-label" for="showCode" style="text-align: left;">Show Code</label>
              <div class="col-xs-8 col-sm-8 col-md-8">
                <input type="text" class="form-control" id="showCode" formControlName="showCode" readonly placeholder="Show Code"> 
                <span *ngIf="!orderForm.get('showCode').valid && orderForm.get('showCode').touched" class="help-block">This
                  field is required!
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Order number-->

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="row">

            <div class="col-xs-4 col-sm-2 col-md-2">
              <div class="form-group">
                <label class="control-label control-required" for="orderNumber">Order Number</label>
                <div class="col-xs-8 col-sm-8 col-md-8"></div>
                <input type="text" class="form-control" id="orderNumber" formControlName="orderNumber"
                  placeholder="Order number">
                <span *ngIf="!orderForm.get('orderNumber').valid && orderForm.get('orderNumber').touched"
                  class="help-block">This field is required!
                </span>
              </div>
            </div>

            <div class="col-xs-4 col-sm-2 col-md-2">
              <div class="form-group">
                <label class="control-label control-required" for="dateSold">Date Of Sold</label>
                <input type="text" id="dateSold" placeholder="Date Of Sold" class="form-control" bsDatepicker
                  formControlName="dateSold" [bsConfig]="bsConfig">
                  <span *ngIf="!orderForm.get('dateSold').valid && orderForm.get('dateSold').touched" class="help-block">This
                    field is required!
                  </span>
              </div>
            </div>

            <div class="col-xs-4 col-sm-2 col-md-2">
              <div class="form-group">
                <label class="control-label control-required" for="customerPo">Customer P.O</label>
                <input type="text" class="form-control" id="customerPo" formControlName="customerPo"
                  placeholder="Customer p o">
                <span *ngIf="!orderForm.get('customerPo').valid && orderForm.get('customerPo').touched"
                  class="help-block">This field is required!
                </span>
              </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-3 clear-both">
              <label class="control-label control-required" for="terms">Terms</label>
              <select id="terms" class="form-control" formControlName="terms">
                <option [value]="term" *ngFor="let term of orderTermsOption; let i = index">{{term}}</option>
              </select>
              <span *ngIf="!orderForm.get('terms').valid && orderForm.get('terms').touched"
                    class="help-block">This field is required!
              </span>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-3">
              <div class="form-group">
                <label class="control-label control-required" for="dept">Dept.</label>
                <input type="text" class="form-control" id="dept" formControlName="dept" placeholder="Dept">
                <span *ngIf="!orderForm.get('dept').valid && orderForm.get('dept').touched" class="help-block">This
                  field is required!
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>


      <!-- products -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="row">

            <div class="col-xs-3 col-sm-2 col-md-2">
              <div class="form-group">
                <app-products-select [newProducts]="order.products" (selectedProducts)="onSelectedProducts($event)">
                </app-products-select>
              </div>
            </div>

            <div class="col-xs-9 col-sm-4 col-md-4" style="padding: 0;">
  
              <div class="form-group" >
                <label class="col-xs-4 col-sm-4 col-md-4 control-label required-label" style="text-align: right; padding-top: 9px;" for="orderType" >Type</label>
                <div class="col-xs-8 col-sm-8 col-md-8">
                  <select id="orderType" class="form-control" formControlName="orderType">
                    <option [value]="type" *ngFor="let type of orderTypeOption; let i = index">{{type}}</option>
                  </select>
                  <span *ngIf="!orderForm.get('orderType').valid && orderForm.get('orderType').touched"
                    class="help-block">This field is required!
                  </span>
                </div>
              </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-3 clear-both">
              <div class="checkbox pull-right">
                <label>
                  <input type="checkbox" #showTotal (change)="onShowTotal($event)">
                  Show Total
                </label>
              </div>
            </div>

            <div class="col-xs-6 col-sm-3 col-md-3">
              <div class="form-group">
                <label class="sr-only" for="total">Total (in dollars)</label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <span class="form-control">{{localTotal}}</span>
                  <div class="input-group-addon">.00</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Products -->

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12" style="height: 300px;">
          <input type="checkbox" hidden required formControlName="isProduct">
          <kendo-grid  #grid 
            [data]="this.order.products" style="width: auto"
            [style.height.%]="100" scrollable="virtual"
            (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
            (save)="saveHandler($event)" (remove)="removeHandler($event)"
          >
            <kendo-grid-column title="IMAGE" width="50px">
              <ng-template kendoGridCellTemplate let-dataItem>
                  <img src="{{dataItem.Image}}" height="40" width="40"alt="Image"/>                    
              </ng-template>
            </kendo-grid-column>  

            <kendo-grid-column field="Sku" title="SKU" width="100px" class="cell-control"></kendo-grid-column>
            <kendo-grid-column field="Quantities" editor="numeric" title="QUANTITIES" width="100px" class="cell-control"></kendo-grid-column>
            <kendo-grid-column field="Color" title="COLOR" width="100px" class="cell-control"></kendo-grid-column>
            <kendo-grid-column field="Run" title="RUN" width="100px" class="cell-control"></kendo-grid-column>
            <kendo-grid-column field="Pairs" title="PAIRS" width="100px" class="cell-control"></kendo-grid-column>

            <kendo-grid-column field="EtaFrom" title="ETA FROM" format="yyyy-MM-dd" width="130px">
              <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input type="text" [(ngModel)]="dataItem.EtaFrom" [ngModelOptions]="{standalone: true}" bsDatepicker [bsConfig]="bsConfig" class="cell-control"/>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="EtaTo" title="ETA TO" format="yyyy-MM-dd" width="130px">
              <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input type="text" [(ngModel)]="dataItem.EtaTo" [ngModelOptions]="{standalone: true}" bsDatepicker [bsConfig]="bsConfig" class="cell-control"/>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="Price" editor="numeric" title="PRICE" width="100px" class="cell-control"></kendo-grid-column>
            <kendo-grid-column field="CustomerSku" editor="text" title="CUSTOMER SKU" width="100px" class="cell-control"></kendo-grid-column>
            <kendo-grid-column field="SpecialInstructions" editor="text" title="SPECIAL INSTRUCTIONS" width="120px" class="cell-control"></kendo-grid-column>

            <kendo-grid-command-column width="80px">
              <ng-template kendoGridCellTemplate>

                  <button kendoGridEditCommand>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  </button>  

                  <button kendoGridRemoveCommand>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>

                  <button kendoGridSaveCommand [disabled]="productForm?.invalid">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                  </button>

                  <button kendoGridCancelCommand>
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                  </button>

              </ng-template>
            </kendo-grid-command-column>

          </kendo-grid>

        </div>
      </div>

      <!-- bottom line -->
      <div class="row" style="margin-top: 30px;">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="row">

            <div class="col-xs-12 col-sm-4 col-md-4">
              <div class="form-group">
                <label class="control-label" style="margin-top: 7px;" for="orderComments">Order Comments</label>
                <textarea class="form-control" rows="5" formControlName="orderComments"></textarea>
              </div>
            </div>

            <div class="col-xs-4 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3">
              <label class="control-label" style="margin-top: 7px;" for="">Order Option</label>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="" formControlName="shipEarly">
                  Ship Early
                </label>
              </div>
            </div>

            <div class="col-xs-8 col-sm-4 col-md-4">
              <div class="row">
                <div class="form-group">
                  <label class="col-xs-6 col-sm-6 col-md-4 control-label" style="margin-top: 7px;" for="totalCases">Total Cases</label>
                  <div class="col-xs-6 col-sm-6 col-md-4">
                    <span class="form-control label-background">{{totalCases}}</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label class="col-xs-6 col-sm-6 col-md-4 control-label" style="margin-top: 7px;" for="totalPairs">Total Pairs</label>
                  <div class="col-xs-6 col-sm-6 col-md-4">
                    <span class="form-control label-background">{{totalPairs}}</span>
                  </div>
                </div>
              </div>
            
              <div class="row">
                <div class="form-group">
                  <label class="col-xs-6 col-sm-6 col-md-4 control-label" style="margin-top: 7px;" for="total">Total</label>
                  <div class="col-xs-6 col-sm-6 col-md-4">
                    <span class="form-control label-background" style="font-weight: bold;">{{total}}</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 30px; margin-bottom: 50px;">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <button type="button" [disabled]="!orderForm.valid" (click)="onSubmit()" class="btn btn-success pull-right">Create Order</button>
        </div>
      </div>

    </div>
  </form>
</div>