<form [formGroup]="addressForm">
  <div class="col-sm-6">
    <h5 class="pull-left" style="font-size: 15px; font-weight: bold; margin-bottom: 20px;">
      Address <span *ngIf="count > 0">{{count}}</span>
    </h5>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="street1" formControlName="street1" placeholder="Street 1">
            <span class="asterisk" style="left: 77px;" *ngIf="!addressForm.get('street1').valid && !addressForm.get('street1').touched">*</span>
            <span *ngIf="!addressForm.get('street1').valid && addressForm.get('street1').touched"
              class="help-block">
              This field is required!
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="street2" formControlName="street2"
              placeholder="Street 2">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-sm-12 col-md-6">
            <input type="text" class="form-control" id="city" formControlName="city" placeholder="City">
            <span class="asterisk" style="left: 53px;" *ngIf="!addressForm.get('city').valid && !addressForm.get('city').touched">*</span>
            <span *ngIf="!addressForm.get('city').valid && addressForm.get('city').touched"
              class="help-block">This field is required!
            </span>
          </div>
          <div class="col-sm-6 col-md-3">
            <input type="text" class="form-control" id="state" formControlName="state" placeholder="State">
            <span class="asterisk" style="left: 62px;" *ngIf="!addressForm.get('state').valid && !addressForm.get('state').touched">*</span>
            <span *ngIf="!addressForm.get('state').valid && addressForm.get('state').touched"
              class="help-block">Required!
            </span>
          </div>
          <div class="col-sm-6 col-md-3">
            <input type="text" class="form-control" id="postcode" formControlName="postcode" placeholder="ZIP">
            <span class="asterisk" style="left: 52px;" *ngIf="!addressForm.get('postcode').valid && !addressForm.get('postcode').touched">*</span>
            <span *ngIf="!addressForm.get('postcode').valid && addressForm.get('postcode').touched"
              class="help-block">Required!
            </span>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="country" formControlName="country" placeholder="Country">
            <span class="asterisk" style="left: 78px;" *ngIf="!addressForm.get('country').valid && !addressForm.get('country').touched">*</span>
            <span *ngIf="!addressForm.get('country').valid && addressForm.get('country').touched"
              class="help-block">
              This field is required!
            </span>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="shippingInstructions" formControlName="shippingInstructions" placeholder="Shipping instructions">
            <span
              *ngIf="!addressForm.get('shippingInstructions').valid && addressForm.get('shippingInstructions').touched"
              class="help-block">
              This field is required!
            </span>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <div class="col-sm-12">
            <label for="paymentTerms" class="control-required">Payment Terms</label>
            <select id="paymentTerms" class="form-control"  formControlName="paymentTerms">
              <option [value]="term" *ngFor="let term of terms; let i = index">{{term}}</option>
            </select>
            <span *ngIf="!addressForm.get('paymentTerms').valid && addressForm.get('paymentTerms').touched"
                    class="help-block">This field is required!</span>
          </div>
        </div>
      </div>

        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="shippingPreference" class="control-required">Shipping Preference</label>
              <select id="shippingPreference" class="form-control" formControlName="shippingPreference">
                <option [value]="ship" *ngFor="let ship of preference; let i = index">{{ship}}</option>
              </select>
              <span *ngIf="!addressForm.get('shippingPreference').valid && addressForm.get('shippingPreference').touched"
                      class="help-block">This field is required!</span>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="shippingPreferenceAccount"
              formControlName="shippingPreferenceAccount" placeholder="Shipper Account No.">
            <span class="asterisk" style="left: 156px;" *ngIf="!addressForm.get('shippingPreferenceAccount').valid && !addressForm.get('shippingPreferenceAccount').touched">*</span>
            <span
              *ngIf="!addressForm.get('shippingPreferenceAccount').valid && addressForm.get('shippingPreferenceAccount').touched"
              class="help-block">
              This field is required!
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-sm-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="billing">Billing Address
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-sm-12">
            <button type="button" class="btn btn-danger pull-left" (click)="delete()">Remove Address</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</form>