@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import "~minireset.css/minireset";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~@progress/kendo-theme-bootstrap/dist/all.scss";


.required-label:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 3px;
    top:7px;
}

.control-required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 3px;
}

.help-block{
    color: #d00 !important;
}

.asterisk {
    position: absolute;
    top: 5px;
    color: #d00; 
}

input:focus::placeholder{
    color: transparent;
}

input:focus + span.asterisk {
    color: transparent;
}